root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,csx}]
indent_size = 4
end_of_line = crlf

[*.cs]
file_header_template = SPDX-License-Identifier: Apache-2.0\nCopyright 2025-2026 Estado de Goiás (SES-GO) e Universidade Federal de Goiás (UFG).

dotnet_diagnostic.IDE0073.severity = error

# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Code style
csharp_prefer_braces = true:warning
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_method_group_conversion = true:suggestion
csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Naming
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.severity = warning
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.symbols = interface
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.style = begins_with_i

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = *
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.capitalization = pascal_case

# Nullable
dotnet_diagnostic.CS8618.severity = warning

[*.{json,yml,yaml,md}]
indent_size = 2
charset = utf-8

[*.csproj]
indent_size = 2

[tests/**.cs]
# xUnit recomenda MethodName_ExpectedBehavior_StateUnderTest
dotnet_diagnostic.CA1707.severity = none
